/* manual*/
* {
  margin: 0;
  padding: 0; }

img {
  width: 100%; }

body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: #e8af5c; }

.container-fluid {
  width: 100%;
  background: #73c7af; }
  .container-fluid .container {
    padding: 2rem; }
    .container-fluid .container .logo-cafe {
      width: 20%;
      margin: 0 auto;
      margin-bottom: 2rem; }
      .container-fluid .container .logo-cafe img {
        /* width: 50%; */
        display: block; }
    .container-fluid .container .botones-cafe {
      text-align: center;
      padding: 1rem 0; }
      .container-fluid .container .botones-cafe li {
        list-style: none;
        text-align: center;
        font-size: 15px;
        line-height: 61px; }
        .container-fluid .container .botones-cafe li a {
          margin: 1rem auto;
          padding: 1rem;
          background: #232425;
          color: #f0f0f0;
          border: 0px;
          border-radius: 0.5rem;
          font-weight: bolder;
          text-transform: uppercase;
          border: 1px solid #232425;
          text-decoration: none; }
          .container-fluid .container .botones-cafe li a:hover {
            border: 1px solid #232425;
            background-color: #f0f0f0;
            color: #232425;
            transition: 0.2;
            -webkit-transition: 0.2;
            -moz-transition: 0.2;
            -ms-transition: 0.2;
            -o-transition: 0.2; }

.pie {
  background: #e8af5c; }
  .pie ul {
    padding: 1rem;
    text-align: center; }
    .pie ul li {
      list-style: none;
      display: inline;
      margin-left: 18px;
      font-weight: bolder;
      font-size: 15px; }
      .pie ul li a {
        list-style: none;
        text-decoration: none;
        color: #232425; }
        .pie ul li a:hover {
          text-decoration: underline;
          color: #3a3a3a; }
      .pie ul li .icono-redes {
        width: 20px;
        position: relative;
        top: 5px;
        margin-right: 2px; }

@media only screen and (max-width: 767px) {
  .container-fluid .container {
    padding: 1rem; }
    .container-fluid .container .logo-cafe {
      width: 50%; }
    .container-fluid .container .pie li {
      display: block !important;
      margin: 5px;
      text-align: center; } }

/*# sourceMappingURL=estilos.css.map */
