$verdePastel: #73c7af; /* manual*/
$gris: #232425;
$blanco: #f0f0f0;
$naranjapastel: #e8af5c;
$grishover: #3a3a3a;

* {
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
  }
  body{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: $naranjapastel;
  }
  
  .container-fluid{
    width: 100%;
    background: $verdePastel;
    .container{
        padding: 2rem;
        .logo-cafe {
            width: 20%;
            margin: 0 auto;
            margin-bottom: 2rem;
                img{
                /* width: 50%; */
                display: block;      
                }  
          }

          .botones-cafe{
            text-align: center;
            padding: 1rem 0;
            li{
                list-style: none;
                text-align: center;
                font-size: 15px;
                line-height: 61px;
            
                a{              
                    margin: 1rem auto;
                    padding: 1rem;
                    background: $gris;
                    color: $blanco ;
                    border: 0px;
                    border-radius: 0.5rem;
                    font-weight: bolder;
                    text-transform: uppercase;
                    border: 1px solid $gris;
                    text-decoration: none;
                    &:hover{
                        border: 1px solid $gris;
                        background-color: $blanco ;
                        color:$gris;
                        transition: 0.2;
                        -webkit-transition: 0.2;
                        -moz-transition: 0.2;
                        -ms-transition: 0.2;
                        -o-transition: 0.2;
                        }
                    }  
             }          
        }
    }
  }
  

 

  .pie{
      background: $naranjapastel;
      ul{
          padding: 1rem;
          text-align: center;
          li{
            list-style: none;
            display: inline;
            margin-left: 18px;
            font-weight: bolder;
            font-size: 15px;
            a{
                list-style: none;
                text-decoration: none;
                color: $gris;
                &:hover{
                    text-decoration: underline;
                    color: $grishover;
                }
            }
            .icono-redes{
                width: 20px;
                position: relative;
                top: 5px;
                margin-right: 2px;
            }
        }
      }
      
  }


  @media only screen and (max-width: 767px) { 

    .container-fluid .container {
        padding: 1rem;

        .logo-cafe {
            width: 50%;
            }
        .pie{
                li{
                    display: block!important;
                    margin: 5px;
                    text-align: center
                }
            }
    }
    
   }
  
  
  
  
 